*{
  background-color:#E2C044;
}

.title{
  text-align:center;
}

.plus{
  color:white;
  display:flex;
  align-items:center;
  background-color:red;
}
.boxed{
  display:flex;
  border:1px solid red;
  background-color:red;
  align-items:center;
}
.navigate{
  border-radius:16px;
  width:25%;
  background-color:#3066BE;
  color:white;
  font-size:20px;
}